.sign-up-wrapper {
  position: fixed;
  top: 55px;
  right: 55px;
  display: flex;
  align-items: center;
  gap: 35px;

  span {
    font-size: 20px;
  }

  button:hover {
    cursor: pointer;
    background-color: #29abe2;
  }
}

// -----------------------------------------------------------------------------
// BUTTONS
// -----------------------------------------------------------------------------
.dark-button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: unset;
  padding: 15px 24px;
  background-color: #2a3647;
  border-radius: 8px;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: #29abe2;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.dark-button:disabled {
  background-color: #2a3647 !important;
  color: #ffffff !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
  opacity: 0.6;
}

.dark-button:disabled:hover {
  background-color: #2a3647 !important;
  cursor: not-allowed !important;
}

.light-button {
  color: #2a3647;
  font-weight: 700;
  border-radius: 8px;
  padding: 15px 24px;
  transition: all 100ms ease-in-out;
  background-color: white;

  &:hover {
    cursor: pointer;
    color: #29abe2;
    border: 2px solid #29abe2;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

// -----------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------
footer {
  text-wrap: nowrap;
  position: fixed;
  top: 90%;
  left: 50%;
  font-size: 16px;
  display: flex;
  gap: 32px;
  transform: translate(-50%);
  animation: fade-in 1s ease-in-out;

  a {
    text-decoration: none;
    color: #a8a8a8;

    &:hover {
      color: #29abe2;
      cursor: pointer;
      transition: color 100ms ease-in-out;
    }
  }
}

// -----------------------------------------------------------------------------
// FORM WRAPPER
// -----------------------------------------------------------------------------
#form-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// -----------------------------------------------------------------------------
// LOGIN BOX
// -----------------------------------------------------------------------------
.log-in-box {
  height: 493px;
  width: 652px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 48px 115px;

  h1 {
    font-size: 61px;
    text-align: center;
    margin: 0;
  }

  .headline-border {
    width: 150px;
    min-height: 3px;
    background-color: #29abe2;
    border-radius: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 422px;

    input {
      width: 100%;
      font-size: 20px;
      border: unset;

      &::placeholder {
        color: #d1d1d1;
      }

      &:focus {
        outline: unset;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// INPUT WRAPPER
// -----------------------------------------------------------------------------
.input-wrapper {
  display: flex;
  align-items: center;
  padding: 12px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;

  img {
    object-fit: contain;
  }
}

// -----------------------------------------------------------------------------
// REMEMBER ME
// -----------------------------------------------------------------------------
.remember-me-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding-left: 39px;

  input {
    width: min-content !important;
  }
}

// -----------------------------------------------------------------------------
// ENTRY BUTTONS
// -----------------------------------------------------------------------------
.entry-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  button {
    font-size: 21px !important;
  }
}